
Utility Files.xcworkspace/contents.xcworkspacedata
Utility Files.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Utility Files.xcworkspace/xcuserdata/danlages.xcuserdatad/UserInterfaceState.xcuserstate
